sudo: false
language: node_js
node_js:
- 6
rvm:
- 2.2.3
cache:
  directories:
  - node_modules
script: npm test
before_deploy:
- npm run docs:create
- npm run build
deploy:
  provider: npm
  email: mail@cenkcetinkaya.com
  api_key:
    secure: ufyKEWYFQn4H8V/Zb67vpcbq8bzfKa8oSOkPtQ1pXk0rZ5Hm2Fzl0WM404YmAYTjgNsw+iYKHk5UbDXO9eJtBA4LYFztx/Jo00GXwUZQO+vy9NNSjNYnuMox8lY3djYTXxHS4e0pKPNxMFFbqlaFkgGehzXHDvbkfB3Qj+FlrNIataLwCkGv8zn9WhZHxCRhlBdQhdcl4Tmunm8bQJMivT1391v9AaTLFpJsPGWklFkx50oPY5wh8V42L0monLGYsHZju2lhb0lllePPkpJDBoBTf8wiZ4/qF44Bud2tBe8Ib794WWP1pX9mg/3jchno9QKlbFZySajlJnUcTC9esDEKzaOYdV1n5346spX7qKBNUznjEfhoUh9ITSiLpxvyd6c7O9eweuz/chlzE73D+Usiwf+pWZjEH5Kkqe3CSy6862kwUj9sOBdAVFuBz+fypHhKr/MhnJU64Q929SRskkL7zBinw3xj/M/qvtCcZkjAGraA9hsF8W/C0rVdcD77jsTrxmtQEps6KD8Mk+9TJFT7akF/N7xL7sWGqXwxWW6lEMqyTyQTYifIymV1V3l+uRjNYFyihXJj0h0QPCiB3Nq0ZOeZM5iNTMwPvKDqftJhlICl6QH3F8A9vPB+kj7R6ytzt++RM21k5e8AziAH4/eUac2YBLO4K78pguYdw0I=
  on:
    tags: true
after_deploy:
- git config --global user.email "builds@travis-ci.com"
- git config --global user.name "Travis CI"
- ". ./.scripts/version.sh"
- git add .
- git commit -m "Add New version built by TravisCI for build $TRAVIS_BUILD_NUMBER"
- git push origin master -q https://$GHUB_TOKEN@github.com/smartface/styler.git
branches:
  # only: master
  global:
    secure: mg8WKsK09JLpT36DYQBlseRFDIkltiKsIfGUEKQ3Xwo12t2PTnGdM7INwPGsXT981eo9ixQmp8RIjUy1k7AMGmRRgxvOMbG5LT8yud06Sfy+7r8VQsqHIL4ourXNmKploGdeKtJ+zE4sxJ/c9S/JepFxfUnsvvld9yCVkEhvphjPpVPek95eZiA1SIfTbrI5sULdKp9Zch1HUdhDOAciLP0l0bHk3IdLnQYk3woUMBNGd7n+Krrhr77wHYkj7ZCNf709NKZf+rHrgomjWWli4EBrufAeWWAlXy32j71F7oIEC8t3Gle3Sb6DJjeenizk7Ml0+M46t1lTmDCcDTRwZwBncPvHdQiuWSAp0YJ3n5XBqTq43mH09NLcT7szanJiB/4p9nK8rwlxMLH4ScqWGQUdrAtZPVL3G0EbRkdm7+jbqZbCBGvej9u9V7DwApxMA/5i31a02fpcAlKAiTGKpL5nbZ3WSQWPUtuI+2Q1cwPMi1pDzLgL/ewSW6Y2yclH36jddNjUh+C/IV/G85Ox84xD9GSE5no/3h4S3PYwXQw+Y7a/uEKPN3upDXQ26vKz9uBX5Pt6KJmoboc1S2LvxP5zLWWVQaqVu1vNMdwbfnEemR2FPTJl8kzLXU66jL+TJnNHuUyXWbDlRya9pmpCHA5OQNL2Xu7J5jPplm3maDU=
